
// * {
//     border: 1px solid #f00 !important;
//     }
body{
    font-family: 'Inter', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    background-color: $mainBg;
    height: 100%;
}

.container{
    @include min-max(320px, 100%, 0);
}

.wrap{
    @include min-max(320px, 1140px, 15px);
}

// Разделитель
.devider{
    border-top: 4px solid $devider;
    position: relative;

    &::after{
        content: "";
        height: 1px;
        width: 100%;
        
        background: $devider;
        display: block;
        position: absolute;
        top: 4px;
        left: 0;
    }
	
}

h1{
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    color: $white;
}

h2{
    font-family: 'Libre Caslon Text', serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    color: $darkText;
    // max-width: 350px;
    // padding: 39px 0 28px;


}

h3{
    font-family: 'Libre Caslon Text', serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: $darkText;
    // padding: 8px 0;

}

h4{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    font-weight: 900;
    // padding: 5px 0;
    a{
        color: $darkText;
    }
}

h5{
    font-family: 'Libre Caslon Text', serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    padding: 0;

}


p{
    font-size: 16px;
    line-height: 24px;
}

a{
    text-decoration: none;
}

.itemRating{
    font-size: 12px;
    margin-bottom: 10px;
    .tours_itemStarsRating{
        padding-right: 10px;
    }
    span{
        color: $green;
    }
}









@media(max-width:560px){

    h1{
        font-size: 32px;
        line-height: 32px;
    }

    h2{
        font-size: 28px;
        line-height: 32px;
    }
    h3{
        font-size: 24px;
        padding: 10px 0 3px;
    }
    h4{
        
    }
    
    



}