$mainBg: #F3EFD7;
$white: #ffffff;

$black: #000000;
$devider: #938F7B;
$lightText: #F3EFD7;
$darkText: #0F0F0A;
$videoDesc: #938F7B;
$green: #32671C;
$red:#EB5757;
$minus: #fbe1a2;
$blue: #2E52A7;
$brown: #93683C;
$yellow: #F2C94C;
$inputBg: #F6F6F6;
$placeholder: #BDBDBD;
$gray: #4F4F4F;







// $headerText: #333333;
// $green: #00963f;
// $blue: #013372;
// $blueText: #4cd2fe;
// $blueSale: #5dd5fe;
// $gray: #6d6d6d;
// $fon: #efefef;
// $gold: #ffb400;
// $yellow: #ECFF0E;
// $footerBg: #1d1e1e;
// $footerText: #a8a9a9;
// $red: #D60000;
// $fire: #D64D00;
// $spirit: rgba(0,0,0,0.5);
// $borderColor: rgb(239, 239, 239);
// $blueButton: linear-gradient(45deg, #33b9e9, #098fc7);
// $yellowGrad: linear-gradient(45deg, #ECFF0E, #D64D00);
// $yellowGradRev: linear-gradient(45deg, #D64D00,#ECFF0E);